bin/
obj/


*.csproj
*.csproj.user
*.suo




.vs/

appsettings.json
appsettings.Development.json

WebApplication1/Properties/launchSettings.json
/WebApplication1/wwwroot
/WebApplication1/Logs
/WebApplication1/Logs
